<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shaleaguebackend.mapper.EnterQuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.shaleaguebackend.model.domain.EnterQuestion">
        <id column="Qid" property="Qid" />
        <result column="Qdescription" property="Qdescription" />
        <result column="Qanswer" property="Qanswer" />
    </resultMap>

    <select id = "getAQuestionByRand" resultMap="BaseResultMap">
        SELECT * FROM EnterQuestion ORDER BY RAND() LIMIT 1
    </select>


</mapper>
