<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shaleaguebackend.mapper.MilitaryGeneralMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.shaleaguebackend.model.domain.MilitaryGeneral">
        <id column="MGid" property="MGid" />
        <result column="MGname" property="MGname" />
        <result column="MGcountry" property="MGcountry" />
    </resultMap>

</mapper>
